/*ESTILO PARA EL MENU DE ADMINISTRAR USUARIOS*/
/*HEADER*/
.btn-volver{
    background-color: white;/* Green */
    color: #000000;
    padding: 9px 12px;
    border: none;
    border-radius: 15px;
    width: 100px;
    margin-left: 33px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}


.espacio{
    padding-right: 30px;
}

#btn-close{
    border: 1px solid rgba(0, 0, 0, 0.301);
    box-shadow: 0 5px 0 rgba(0,0,0,0.5);
    transition: all 0.3s ease 0s;
}

#btn-close:hover,
#btn-close:focus{
    background-color: #fff;
    box-shadow: none;
}

#contenedor-usuarios{
    width: 1200px;
    margin: auto;
}

.alineartexto{
    text-align: center;
    font-size: 15px;
}

.btn_group{ 
    text-align: end;
}



/*ADMINISTRACION USUARIOS*/
.form-container{
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.form-control{
    color: #000000;
    background-color: transparent;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    width: calc(100% - 53px);
    height: 38px;
    padding: 1px 10px 0 7px;
    border-radius: 0;
    display: inline-block;
    transition: all 0.3s;
}

textarea.form-control{
    height: auto;
    width: 100%;
}

.input-icon{
    color: rgba(0, 0, 0, 0.61);
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    height: 38px;
    vertical-align: top;
    display: inline-block;
}

.BOTONES{
    letter-spacing: 1px;
    font-size: 20px;
    margin:0 auto;
}

#cabecera{
    width: 1200px;
    margin: auto;
}

#img-shower{
    border: 1px solid rgba(128, 128, 128, 0.515);
    height: 320px;
    width: 550px;
    margin-top: 40px;
}

.edit_images{
    position: absolute;
    z-index: 100000;
    border: 3px solid;
    width: 800px;
    height: 600px;
    margin-left: 500px;
    margin-top: -100px;
    background-color: #fff;
}

.edit_images #editimagescontainer{
    margin: 10px;
    width: 775px;
    height: 575px;
}

#editimagescontainertitle{
    display: flex;
    padding-left: 20px;
    gap: 430px;
}